footer
  .footer-container.container
    .content_1
      .logo
        a#logo_name2(href='') Aatmanirbhar Krishi.
      p
        | We&apos;re proud to offer a wide selection of locally sourced crops, including 
        br
        |  nutrient-rich  rabi khari and delicious cereals, all of which are grown with 
        br
        | sustainable and eco-friendly practices. By shopping with us, you&apos;re supporting 
        br
        | independent farmers and their livelihoods, while also promoting ethical and 
        br
        | responsible agricultural practices.
      img(src='https://i.postimg.cc/Nj9dgJ98/cards.png' alt='cards')
    .content_2
      h4 SHOPPING
      a(href='/#sellers') Rabi Collection
      a(href='/#sellers') Kharif Collection
      a(href='/#sellers') Cereals
      a(href='/#sellers') Hot Sales
    .content_3
      h4 ABOUT
      a(href='./contact.html') Contact Us
      a(href='https://payment-method-sb.netlify.app/' target='_blank') Payment Method
      a(href='https://delivery-status-sb.netlify.app/' target='_blank') Delivery
      a(href='https://codepen.io/sandeshbodake/full/Jexxrv' target='_blank') Return and Exchange
  .f-design
    .f-design-txt.container
      p Design and Code by Team Tactm
