extend base
include _productCard

block content
  section#home
    .home_page
      .home_img
        img(src='img/HeroImage.webp' alt='img ')
      .home_txt
        p.collectio FRESH FARM PRODUCE
        h2
          | RABI - KHARIF
          br
          | Kheti Collection &apos;23
        .home_label
          p
            | Fresh from the farm to your door, the taste of nature like never before. 
            br
            | Feel the love of the farmers with each feed.
        button
          a(href='#gaps1') SHOP NOW
          i.bx.bx-right-arrow-alt
        .home_social_icons
          a(href='#')
            i.bx.bxl-facebook
          a(href='#')
            i.bx.bxl-twitter
          a(href='#')
            i.bx.bxl-pinterest
          a(href='#')
            i.bx.bxl-instagram
  
  section#collection
    .collections.container
      .content
        img(src='img/rabi/rice.jpg' alt='img')
        .img-content
          p Rabi Crops
          button
            a(href='#sellers') SHOP NOW
      .content2
        img(src='img/kharif/Wheat.jpg' alt='img')
        .img-content2
          p Kharif Crops
          button
            a(href='#sellers') SHOP NOW
      .content3
        img(src='img/cereals/cereals.jpg' alt='img')
        .img-content3
          p Cereals
          button
            a(href='#sellers') SHOP NOW
  
  #gaps1
  section#sellers
    .seller.container
      h2 Rabi Crop Sales
      .best-seller
        each product in rabi
          +productCard(product)
    .seller.container
      h2 Kharif Crop Sales
      .best-seller
        each product in kharif
          +productCard(product)
    .seller.container
      h2 Cereals Sales
      .best-seller
        each product in cereal
          +productCard(product)

  #gaps2
  section#contact
    .contact.container
      form(action='https://formspree.io/f/xzbowpjq' method='POST')
        .form
          .form-txt
            h4 INFORMATION
            h1 Contact Us
            span
              | Get in touch with us to learn more about our farm-fresh produce and support local farmers.
            h3 INDIA
            p
              | Hostel K, NIT JAMSHEDHPUR
              br
              | Adityapur, 831034
              br
              | +91 8294206867
          .form-details
            input#name(type='text' name='name' placeholder='Name' required='')
            input#email(type='email' name='email' placeholder='Email' required='')
            textarea#message(name='message' cols='52' rows='7' placeholder='Message' required='')
            button SEND MESSAGE




